* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

html {
    /* Photo by FWStudio from Pexels: https://www.pexels.com/photo/brown-wooden-surface-129733/ */
    background: url(images/wood.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    font-family: sans-serif;
    font-family: 'lobster', sans-serif;
}

h1 {
    margin: 0;
    color: #ffd07a;
    text-shadow: 0 0 4px black;
}

span {
    color: #ffd07a;
    text-shadow: 0 0 4px black;
}

button {
    background: #f8f8ff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 12px 0;
    box-shadow: rgba(0, 0, 0, .25) 0px 5px 15px;
    color: #222;
    font-size: 16px;
    font-weight: 600;
    width: 80px;
}

.buttonOn {
    background: #999;
}

.container {
    background-color: #b7161e;
    padding: 0 80px;
    border-radius: 48px;
    box-shadow: rgba(0, 0, 0, .5) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 1) 0px 0px 8px 0px inset;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 24px;
}

.optionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: 20px 0;
}

.penSizeContainer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
    gap: 4px;
}

.penSizeContainer {
    text-align: center;
}

.sizeIndicators {
    display: flex;
    justify-content: space-between;
}

.sketchPad {
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, .8) 0px 5px 15px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.pixel {
    
}

.slideContainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 6px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    direction: rtl;
}

.slider:hover {
    opacity: .85;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%; 
    background: #ffd07a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #ffd07a;
    cursor: pointer;
}